Project/Logs
Project/Temp
Project/andywiecko.BurstTriangulator.csproj
Project/*.csproj
Project/UserSettings
Project/.vscode
Project/Logs
Project/UserSettings
Project/*.csproj
*.sln
Project/.cursor
Project/App.config
Project/packages.config
Project/Project.sln.DotSettings.user
